Li{
    Display: inline;
    Float: left;
    }
    Li a.active{
    Background-Color: blue;
    Color: #dddddd;
    }
    Li a{
    Background-Color: #dddddd;
    Display: block;
    Color: black;
    Text-align: center;
    Padding: 10px 10spx;
    }
body{background-image: url(pht.jpg.jpg);
    background-size: cover;
    background-position: center;}